# See http://help.github.com/ignore-files/ for more about ignoring files.

# generated dirs
/public
/graphs

# flamegraphs stacks
/out*

# compiled output
/dist
/tmp

# vendors
/FlameGraph

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
